<div class="card">
    <div class="card-body">
    <h1 class="card-title">All Countries</h1>

 <div class="container">
 <div class="row">
   <% @countries.each do |p| %>
   <div class="col-lg-4">
   <%= link_to p.name, country_path(p) %>   <%= p.flag_emoji %>
   </div>
   <% end %>
   </div>
   </div>
 

 </div>
 </div>