<div class="card">
    <div class="card-body">
    <h1 class="card-title">Edit Post</h1>

<%= form_for @post do |f| %>
  Title : <%= f.text_field :title %><br>
  Content : <%= f.text_field :content %><br>
  <%= f.submit "Edit Post", :class => 'btn btn-primary' %>
<% end %>
</div>
</div>
