<div class="card">
    <div class="card-body">
    <h1 class="card-title">All Posts</h1>

 <ul>
   <% @posts.each do |p| %>
   <li><%= link_to p.title, post_path(p) %></li>
   <p><%= p.content %></p><br>
   <% end %>
 </ul>

 </div>
 </div>
