<div class="card">
    <div class="card-body">
    <h1 class="card-title">New Post</h1>

<%= form_for @post do |f| %>
  Post Title: <%= f.text_field :title %><br>
  Content: <%= f.text_field :content %><br>
  
  <%= f.submit "Make Post", :class => 'btn btn-primary' %>
<% end %>

</div>
</div>


