<div class="card">
    <div class="card-body">
    <h1 class="card-title">USERS</h1>
<ul style="list-style: none;">
  <% @users.each do |u| %>
  <li><%= link_to u.name, user_path(u) %></li> <br>

  <% end %>
</ul>
</div>
</div>
